.main-mid{
	width: 560px;
}

.mid-top{
	height: 250px;
	background-color: #f2f2f3;
	border: 1px solid #d6d5d6;
	border-radius: 10px;
	margin: 10px;
	margin-top: 10px;
	position: relative;
}

.mid-top-topimg{
    margin-top: -9px;
    margin-left: -1px;
}
/*.mid-top-scroll{
	width:533px;
	top:20px;
	left:40px;
	position: absolute;
}*/

.mid-top-scrollimages{
	position: absolute;
	top:62px;
	left:6px;
}

.mid-top-scrollimages img{
	position: absolute;
	top:0px;
	left:0px;
	/*alt: ;*/
}

.mid-top-scrollimages img{
	
	margin-left:10px ;
	position: absolute;
	top:-9px;
	left:-11px;
	/*alt: ;*/
}

.nums a{
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #999;
	color: #999;
	margin:5px auto;
	text-decoration: none;
	
}

.nums a:hover{
	background-color:  #F96;
	color: white;
}


.nums{
	position: absolute;
	top:59px;
	right:6px
}


.mid-mid{
	height:300px ;
	border: 1px solid #d6d5d6;
	border-radius: 5px;
	margin: 10px;
	margin-top: 0px;
	
	background-image: url(../images/dd_book_bg.jpg);
	background-repeat: repeat-x;
	
}
div.mid-bottom{
	height: 420px;
	border: 1px solid #d6d5d6;
	border-radius: 5px;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
	background-image: url(../images/dd_book_bg.jpg);
	background-repeat: repeat-x;
}
.mid-midfirstline{
	height: 25px;
	line-height: 23px;
	
}
/*中间:第二块*/
.mid-item{
	margin: 0px;
	font-size: 14px;
	font-family: "微软雅黑";
	color:  #882D00;
	margin-left: 10px;
	display:inline-block ;
}

.mid-midtext{
	list-style: none;
	font-size: 12px;
	font-family: "微软雅黑";
	color:  #333;
	margin: 0 10px;
	display: inline-flex;
	
}
/*最新上架分类*/
.mid-midtext li{
	width: 40px;
	text-align: center;
	margin:auto 2px;
	background-image:url(../images/dd_book_bg1.jpg);
}
.mid-midtext li:hover{
	background-image:url(../images/dd_book_bg2.jpg);
	color:  #882D00;
}

.mid-midfirstline span{
	font-size: 12px;
	font-family: "微软雅黑";
	color:  #333;
	margin-left:170px ;
}

.mid-mid-newbooks{
	position: relative;
}
.mid-mid-newbooks img{
	float: left;
	width: 120px;
	width: 250px;
	height: 120px;
	/*display: block;*/
}
.newbooks-novel,.newbooks-culture,.newbooks-family,.newbooks-history{
	
	
	margin:5px 5px;
	position:absolute;
	top:0px;
	left:0px;
}
.mid-bottomimage{
	
	display: block;
	float: left;
	margin: 2px 5px 0 0;
}
